<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
    <!-- added for claims aware -->
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="FieldCoorSuiteConnectionString" connectionString="Data Source=SRV-DBS1;Initial Catalog=FieldCoorSuite;User ID=MOCIC_IT;Password=!it_MOCIC!"
      providerName="System.Data.SqlClient" />
    <add name="EmployeeConnectionString" connectionString="Data Source=SRV-DBS1;Initial Catalog=Employee;Persist Security Info=True;User ID=MOCIC_IT;Password=!it_MOCIC!"
      providerName="System.Data.SqlClient" />
    <add name="RissCenterDBConnectionString" connectionString="Data Source=SRV-DBS1;Initial Catalog=FieldCoorSuite;Persist Security Info=True;User ID=MOCIC_IT;Password=!it_MOCIC!;connect timeout=120"
      providerName="System.Data.SqlClient" />
    <add name="LeaveCalendarDBConnectionString" connectionString="Data Source=SRV-DBS1;Initial Catalog=LeaveCalendarDB;Persist Security Info=True;User ID=userLeaveCalendar;Password=&lt;EmployeeGone&gt;!"
      providerName="System.Data.SqlClient" />
    <add name="FieldCoorSuiteConnectionString1" connectionString="Data Source=SRV-DBS1;Initial Catalog=FieldCoorSuite;Persist Security Info=True;User ID=MOCIC_IT;Password=!it_MOCIC!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.DataVisualization, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--<trust level="Full"/>-->
    <!--<authentication mode="Windows"/>-->
    <!-- added for claims aware -->
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" />
  </system.web>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <!-- added for claims aware -->
    <modules runAllManagedModulesForAllRequests="true">
      <!--/- Begin ADFS AUTH -/-->
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <!--/- End ADFS AUTH -/-->
    </modules>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
	  <defaultDocument>
		  <files>
			  <clear />
			  <add value="default.aspx" />
			  <add value="Default.htm" />
			  <add value="Default.asp" />
			  <add value="index.htm" />
			  <add value="index.html" />
			  <add value="iisstart.htm" />
		  </files>
	  </defaultDocument>
  </system.webServer>
  <!-- added for claims aware -->
  <microsoft.identityModel>
    <service saveBootstrapTokens="false">
      <applicationService>
        <claimTypeRequired>
          <claimTypeRequired>
            <claimType type="http://schemas.xmlsoap.org/ws.2005/05/identity/claims/UPN" optional="true" />
          </claimTypeRequired>
        </claimTypeRequired>
      </applicationService>
      <audienceUris>
        <!--<add value="https://mociclec.rc.riss.net/" />-->
        <add value="https://mociclec.riss.net/" />
      </audienceUris>
      <federatedAuthentication>
        <!--<wsFederation passiveRedirectEnabled="true" issuer="https://adfs.rc.riss.net/adfs/ls" realm="https://mociclec.rc.riss.net/" requireHttps="false" />-->
        <wsFederation passiveRedirectEnabled="true" issuer="https://adfs.riss.net/adfs/ls" realm="https://mociclec.riss.net/" requireHttps="false" />
        <cookieHandler requireSsl="false" name="FedAuth" hideFromScript="false" persistentSessionLifetime="0.0:05:0" path="/" />
      </federatedAuthentication>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          
          <!--<add thumbprint="de6b56e4990bbec8fd15cc63636768fe8a5a507c" name="urn:riss.net:RC" />-->
          <add thumbprint="ba27fb71479fd1bb0ecaa712992aad78b1df438b" name="urn:riss.net:RC" />
          <!-- Added below on 8/26/2019 -->
          <add thumbprint="06122ef8d77507ef30dfdeb799fbf12afd612293" name="urn:riss.net:production" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.40412.0" newVersion="4.1.40412.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>